dist/
node_modules/
*.zip
.DS_Store
test/fb/
screenshots/
docs/handoff.local.md

# Local Netlify folder
.netlify

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
